.task {
  color: rgb(194, 194, 194);
  background: rgb(39, 39, 39);
  padding: 1.1rem;
  border-radius: 8px;
  margin-bottom: 1.5rem;
  width: 450px;
}

.task:hover {
  box-shadow: rgba(99, 99, 99, 0.3) 0px 2px 8px 0px;
}

.tags {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats {
  font-size: 12px;
}

.postInfo {
  border-radius: 5px 0px 5px 5px;
}

@media screen and (max-width: 470px) {
  .task {
    width: 100%;
    border-radius: 0px;
  }
}
